*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.bfc
*.bcf
*.pdf
*.lop
*.fk
*.lem
*.lol
*.mtc0
*.ptc
*.qtf
*.toc1
*.synctex.gz
*.run.xml
*.fdb_latexmk
