*-blx.bib
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.bfc
*.blg
*.dvi
*.fdb_latexmk
*.fk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lem
*.lof
*.log
*.lol
*.lop
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.out
*.ptc
*.qtf
*.run.xml
*.synctex.gz
*.toc
*.toc1
